<section class="text-align-center">
  <h1>Log in</h1>
  <%= form_with url: session_url, class: "center fit-content" do |form| %>
    <fieldset class="flex flex-column gap <%= "shake" if flash[:alert] %>">

      <div class="input-group">
        <div class="input-wrapper">
          <label>Email</label>
          <div class="input">
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="input-wrapper">
          <label>Password</label>
          <div class="input">
            <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72 %>
          </div>
        </div>
      </div>

      <%= form.button class: "btn btn--reversed center txt-large", type: :submit do %>
        <span class="for-screen-reader">Go</span>
      <% end %>
    </fieldset>
  <% end %>
  <%= link_to "Sign up", new_user_path %>
</section>
