<div class="container">
  <section class="text-align-center">
    <%= image_tag "logos/logo-transparent.svg", role: "presentation", height: 24, class: "center margin-block" %>
    <h1 class="text-x-large text-bold margin-block">Welcome back</h1>

    <%= sailtrace_form_for :session, url: session_path do |f| %>
      <%= f.input :email_address,
                  as: :email,
                  label: "Email",
                  input_html: { placeholder: "you@example.com", autocomplete: "email", required: true, autofocus: true } %>

      <%= f.input :password,
                  as: :password,
                  label: "Password",
                  input_html: { placeholder: "Enter password", autocomplete: "current-password", required: true, maxlength: 72 } %>

      <%= f.submit "Log In",
                   class: "mt-4 w-full inline-flex justify-center rounded-md bg-gray-900 px-4 py-2 text-white hover:bg-gray-800" %>
    <% end %>

    <div class="flex gap justify-center">
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Forgot password", new_password_reset_path %>
    </div>
  </section>
</div>
