<div class="container">
  <section class="text-align-center">
    <%= image_tag "logos/sailtrace-app-icon.png", role: "presentation", size: 36, class: "center margin-block" %>
    <h1 class="text-x-large text-bold margin-block">Welcome back</h1>
    <%= form_with url: session_url, class: "center fit-content margin-block" do |form| %>
      <fieldset class="flex flex-column gap <%= "shake" if flash[:alert] %>">

        <div class="input-group">
          <div class="input-wrapper">
            <%= form.label :email_address %>
            <div class="input">
              <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
          <div class="input-wrapper">
            <%= form.label :password %>
            <div class="input">
              <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72 %>
            </div>
          </div>
        </div>

        <%= form.button class: "btn btn--reversed center", type: :submit do %>
          <span class="for-screen-reader">Log in</span>
        <% end %>
      </fieldset>
    <% end %>

    <%= link_to "Sign up", new_user_path %>
  </section>
</div>
