<%= sailtrace_form_for [:admin, yacht_club] do |f| %>
  <% if yacht_club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(yacht_club.errors.count, "error") %> prevented this Yacht Club from being saved:</h2>
      <ul>
        <% yacht_club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.input :name,
                as: :text,
                label: "Name",
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Enter the yacht club name", autofocus: !yacht_club.persisted?, autocomplete: :off, autocorrect: :off, required: true, spellcheck: false, autocapitalize: :words } %>

    <%= f.input :abbreviation,
                as: :text,
                label: "Abbreviation",
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Enter the yacht club's abbreviation", autocomplete: :off, autocorrect: :off, required: true, spellcheck: false, autocapitalize: :characters } %>
  </div>

  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.file_upload_input :burgee,
                            label: "Burgee",
                            wrapper_class: "sm:col-span-3",
                            hint: "PNG, JPG, SVG up to 10MB" %>

    <%= f.check_box_input :is_active,
                          label: "Active",
                          wrapper_class: "sm:col-span-3",
                          description: "Is this yacht club active on SailTrace?" %>
  </div>

  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.input :street_address,
                as: :text,
                label: "Address",
                wrapper_class: "sm:col-span-6",
                input_html: { autocomplete: "street-address", autocorrect: :off, required: true, spellcheck: false, autocapitalize: :words } %>

    <%= f.input :city,
                as: :text,
                label: "City",
                wrapper_class: "sm:col-span-2",
                input_html: { autocomplete: "address-level2", autocorrect: :off, required: true, spellcheck: false, autocapitalize: :words } %>

    <%= f.input :subdivision,
                as: :text,
                label: "State",
                wrapper_class: "sm:col-span-2",
                input_html: { autocomplete: "address-level1", autocorrect: :off, required: true, spellcheck: false, autocapitalize: :characters, maxlength: 3 } %>

    <%= f.input :postal_code,
                as: :text,
                label: "Postal code",
                wrapper_class: "sm:col-span-2",
                input_html: { autocomplete: "postal-code", autocorrect: :off, required: true, spellcheck: false, autocapitalize: :characters } %>
  </div>

  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.input :country,
                as: :select,
                label: "Country",
                collection: ISO3166::Country.pluck(:iso_short_name, :alpha2).sort_by { |data| data.first },
                priority_options: [["United States of America","US"]],
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Select the country where this yacht club is located", autocomplete: :off, required: true } %>

    <%= f.input :time_zone,
                as: :select,
                label: "Time zone",
                collection: ActiveSupport::TimeZone.all.map { |tz| [tz.to_s, tz.tzinfo.identifier] },
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Select the time zone where this yacht club is located", autocomplete: :off, required: true } %>

    <%= f.input :latitude,
                as: :number,
                label: "Latitude",
                wrapper_class: "sm:col-span-3",
                input_html: { autocomplete: :off, autocorrect: :off, spellcheck: false, step: :any } %>

    <%= f.input :longitude,
                as: :number,
                label: "Longitude",
                wrapper_class: "sm:col-span-3",
                input_html: { autocomplete: :off, autocorrect: :off, spellcheck: false, step: :any } %>
  </div>

  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.input :email,
                as: :email,
                label: "Email address",
                wrapper_class: "sm:col-span-3",
                input_html: { autocomplete: :off, autocorrect: :off, required: true, autocapitalize: :off, spellcheck: false, title: "Enter the contact email address for the yacht club" } %>

    <%= f.input :phone,
                as: :tel,
                label: "Phone number",
                wrapper_class: "sm:col-span-3",
                input_html: { autocomplete: :off, autocorrect: :off, autocapitalize: :off, spellcheck: false, title: "Enter the primary phone number for the yacht club" } %>
  </div>

  <%= f.submit "Save",
               class: "mt-4 w-full inline-flex justify-center rounded-md bg-gray-900 dark:bg-white px-4 py-3 text-white dark:text-gray-950 hover:bg-gray-800 dark:hover:bg-white/95 cursor-pointer" %>
<% end %>
