<%= sailtrace_form_for [:admin, boat_class] do |f| %>
  <% if boat_class.errors.any? %>
    <div class="text-red-600">
      <h2><%= pluralize(boat_class.errors.count, "error") %> prohibited this class from being saved:</h2>

      <ul>
        <% boat_class.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.input :name,
                as: :text,
                label: "Name",
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Enter the class name", autofocus: !boat_class.persisted?, autocomplete: :off, autocorrect: :off, required: true, spellcheck: false, autocapitalize: :words, placeholder: "e.g. Etchells" } %>
  </div>

  <div class="grid grid-cols-1">
    <%= f.check_box_input :is_one_design,
                          label: "One design",
                          description: "Check this if this is a one design class." %>
  </div>

  <%= f.submit "Save",
               class: "mt-4 w-full inline-flex justify-center rounded-md bg-gray-900 dark:bg-white px-4 py-3 text-white dark:text-gray-950 hover:bg-gray-800 dark:hover:bg-white/95 cursor-pointer" %>
<% end %>
