<%= form_with(model: recording, local: true, data: { geolocation_target: "form" }, class: "full-width margin-block") do |form| %>
  <% if recording.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recording.errors.count, "error") %> prohibited this recording from being saved:</h2>

      <ul>
        <% recording.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="flex flex-column gap <%= "shake" if flash[:alert] %>">

    <%= form.hidden_field :time_zone, data: { geolocation_target: 'timeZoneInput' } %>

    <div class="input-group">
      <div class="input-wrapper">
        <%= form.label :boat_id %>
        <div class="input">
          <%= form.collection_select :boat_id, Current.user.boats, :id, :name, required: true %>
        </div>
      </div>
    </div>
    <div class="input-group">
      <div class="input-wrapper">
        <div class="input">
          <%= form.check_box :is_race %>
          <%= form.label :is_race, "This is a race" %>
        </div>
      </div>
    </div>

    <div>
      <%= form.button class: "btn btn--reversed start-button", data: { action: "click->geolocation#validateForm", geolocation_target: "startButton" }, disabled: true, type: :submit do %>
        <span class="for-screen-reader">Start recording</span>
      <% end %>
      <%# form.submit "Start recording", data: { action: "click->geolocation#validateForm" }, disabled: true, class: "start-button", data: { geolocation_target: "startButton" } %>
    </div>
  </fieldset>
<% end %>
