<% @page_title = "Recording" %>

<% content_for :app_page_header do %>
  <div class="flex-item-justify-start"><%= link_back %></div>
<% end %>

<div class="container">
  <h1 class="text-xx-large text-bold margin-block-end">Recording</h1>

  <div id="<%= dom_id @recording %>">
    <p class="text-small text-muted margin-block-end-half"><%= @recording.created_at.in_time_zone(@recording.time_zone).strftime("%A, %b %d %Y %l:%M%p") %></p>
    <p class="margin-block-end"><%= @recording.boat.name %> (<%= @recording.boat.registration_country %> <%= @recording.boat.sail_number %>)</p>
    <dl class="flex flex-wrap gap margin-block-end">
      <div>
        <dt class="text-small text-muted">Distance</dt>
        <dd><%= number_with_precision(@recording.distance, precision: 2) %> nm</dd>
      </div>
      <div>
        <dt class="text-small text-muted">Time</dt>
        <dd><%= @recording.duration %></dd>
      </div>
      <div>
        <dt class="text-small text-muted">Average speed</dt>
        <dd><%= @recording.average_speed %> knots</dd>
      </div>
    </dl>
  </div>

  <div data-controller="static-map"
     data-static-map-recording-id-value="<%= @recording.id %>"
     data-static-map-boat-color-value="<%= @recording.boat.hull_color %>"
     data-action="click->static-map#goToReplay"
     data-static-map-replay-path-value="<%= race_replay_path(@recording.race_id) if @recording.race_id.present? %>"
     data-static-map-start-latitude-value="<%= @recording.start_latitude %>"
     data-static-map-start-longitude-value="<%= @recording.start_longitude %>"
     id="static-map" style="height: 400px;"
     class="border-radius margin-block-end">
  </div>

  <div class="flex gap">
    <%= link_to "View replay", race_replay_path(@recording.race_id), class: "btn btn--reversed margin-block" if @recording.race_id.present? %>
    <%= link_to "Destroy this recording", @recording, class: "btn margin-block", data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this recording?' } %>
  </div>
</div>
