<%= form_with(model: user, class: "center flex flex-column gap fit-content") do |form| %>
  <fieldset class="flex flex-column gap center-block <%= "shake" if flash[:alert] %>">
    <legend class="txt-large txt-align-center">
      <h1>Sign up</h1>
    </legend>

    <div>
      <label class="flex align-center gap input input--actor txt-large">
        <%= form.text_field :username, required: true, class: "input", autocomplete: :off, placeholder: "Enter a username" %>
      </label>
    </div>

    <div>
      <label class="flex align-center gap input input--actor txt-large">
        <%= form.text_field :first_name, required: true, class: "input", autocomplete: "given-name", placeholder: "Enter your first name" %>
      </label>
    </div>

    <div>
      <label class="flex align-center gap input input--actor txt-large">
        <%= form.text_field :last_name, required: true, class: "input", autocomplete: "family-name", placeholder: "Enter your last name" %>
      </label>
    </div>

    <div>
      <label class="flex align-center gap input input--actor txt-large">
        <%= form.email_field :email_address, required: true, class: "input", autocomplete: "email", placeholder: "Enter your email address" %>
      </label>
    </div>

    <div>
      <label class="flex align-center gap input input--actor txt-large">
        <%= form.password_field :password, required: true, class: "input", placeholder: "Enter a password", maxlength: 72 %>
      </label>
    </div>

    <div>
      <label class="flex align-center gap input input--actor txt-large">
        <%= form.password_field :password_confirmation, required: true, class: "input", placeholder: "Confirm your password", maxlength: 72 %>
      </label>
    </div>

    <%= form.button class: "btn btn--reversed center txt-large", type: :submit do %>
      <span class="for-screen-reader">Sign up</span>
    <% end %>
  </fieldset>
<% end %>
