<div class="container" id="<%= dom_id @user %>">
  <h1 class="text-xx-large text-bold margin-block-end"><%= @user.first_name %> <%= @user.last_name %></h1>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= @user.email_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @user.phone_number %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @user.country %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= @user.time_zone %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= @user.is_admin %>
  </p>

  <div class="flex gap margin-block">
    <%= link_to "View all users", users_path, class: "btn btn--reversed" %>
    <%= button_to "Delete", @user, method: :delete, class: "btn", data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this user?' } %>
  </div>
</div>
