<% @page_title = @race.name %>

<% content_for :meta_tags do %>
  <%= race_meta_tags(@race) %>
<% end %>

<% content_for :app_page_header do %>
  <div class="flex-item-justify-start"><%= link_back %></div>
<% end %>

<div class="position-fixed" data-controller="races--replay"
       data-races--replay-race-id-value="<%= @race.id %>"
       data-races--replay-race-started-at-value="<%= @race.started_at.to_i * 1000 %>"
       data-races--replay-race-start-latitude-value="<%= @race.start_latitude %>"
       data-races--replay-race-start-longitude-value="<%= @race.start_longitude %>"
       style="inset: 0">
  <div id="replay-map-container">
    <div id="replay-map" data-races--replay-target="map"></div>
  </div>

  <!-- Time Display -->
  <div id="time-display" class="flex align-center overflow-hidden border-radius shadow text-small text-semibold text-tight-lines">
    <div data-races--replay-target="timeDisplay" class="padding-inline-double padding-block-half fill text-primary" style="font-variant-numeric: tabular-nums;">00:00:00</div>
    <button hidden class="padding-inline-double padding-block-half borderless border-left fill text-primary" data-action="races--replay#togglePlayPause" data-races--replay-target="playPauseButton" style="width: 5rem">Play</button>
  </div>

  <!-- Slider for scrubbing through the recorded locations -->
  <div class="slider-wrapper">
    <div class="container">
      <div class="padding-inline-double fill border-radius shadow">
        <input type="range" data-action="input->races--replay#sliderValueChanged"
               data-races--replay-target="slider" min="<%= @race.started_at.to_i * 1000 %>" max="<%= @race.ended_at.to_i * 1000 %>" value="<%= @race.started_at.to_i * 1000 %>" step="5000"
               class="slider" id="replay-slider">
      </div>
    </div>
  </div>
</div>

<!-- The following style block is just an example. Adapt and move to your asset pipeline or CSS files as needed. -->
<style>
  #replay-map-container {
    height: 100%;
  }

  #replay-map {
    height: 100%;
  }

  #time-display {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .slider-wrapper {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    z-index: 401;
  }

  .slider {
    display: block;
    width: 100%;
  }

  .boat-marker {
    min-width: fit-content;
    min-height: fit-content;
    line-height: normal;
    border: 1px solid #fff;
    padding: 2px 6px;
    font-weight: 700;
    border-radius: 15px;
  }
</style>

