<% content_for :app_page_header do %>
  <div class="flex-item-justify-start"><%= link_back %></div>
<% end %>

<div class="race-replay-container" data-controller="race-replay"
       data-race-replay-user-recording-id-value="<%= @user_recording.id %>"
       data-race-replay-race-id-value="<%= @race.id %>"
       data-race-replay-race-started-at-value="<%= @race.started_at.to_i * 1000 %>"
       data-race-replay-race-ended-at-value="<%= @race.ended_at.to_i * 1000 %>">
  <div id="replay-map-container">

    <!-- Time Display -->
    <div id="time-display" data-race-replay-target="timeDisplay">
      00:00:00
    </div>

    <!-- Interactive Map -->
    <div id="replay-map" data-race-replay-target="map">
      <!-- Map will be initialized here by the replay-map Stimulus controller -->
    </div>
  </div>

  <!-- Slider for scrubbing through the recorded locations -->
  <div class="slider-wrapper">
    <div class="container">
      <input type="range" data-action="input->race-replay#sliderValueChanged"
             data-race-replay-target="slider" min="<%= @race.started_at.to_i * 1000 %>" max="<%= @race.ended_at.to_i * 1000 %>" value="<%= @race.started_at.to_i * 1000 %>" step="5000"
             class="slider" id="replay-slider">
    </div>
  </div>
</div>

<!-- The following style block is just an example. Adapt and move to your asset pipeline or CSS files as needed. -->
<style>
  .race-replay-container {
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-areas:
      "map"
      "slider";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    max-block-size: 100dvh;
  }

  #replay-map {
    height: 100%;
  }

  #replay-map-container {
    grid-area: map;
  }

  #time-display {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.75);
    padding: 5px 10px;
    border-radius: 5px;
  }

  .slider-wrapper {
    grid-area: slider;
    bottom: 0;
    width: 100%;
    z-index: 401;
    padding-block: var(--block-space);
    padding-inline: var(--inline-space);
    background-color: #fff;
  }

  .slider {
    display: block;
    width: 100%;
  }

  .navigation-links {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
  }

  .boat-marker {
    min-width: fit-content;
    min-height: fit-content;
    line-height: normal;
  }

  .btn {
    margin: 0 10px;
  }
</style>

