<div id="<%= dom_id recorded_location %>">
  <p>
    <strong>Latitude:</strong>
    <%= recorded_location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= recorded_location.longitude %>
  </p>

  <p>
    <strong>Velocity:</strong>
    <%= recorded_location.velocity %>
  </p>

  <p>
    <strong>Heading:</strong>
    <%= recorded_location.heading %>
  </p>

  <p>
    <strong>Recording:</strong>
    <%= recorded_location.recording_id %>
  </p>

</div>
