<% @show_app_navigation = true %>

<div class="container">
  <h1 class="text-xx-large text-bold">More</h1>

  <section class="flex flex-column margin-block gap">
    <%= link_to "Recordings", recordings_path %>
    <%= link_to "Boats", boats_path %>
    <% if can_administer? %>
      <hr>
      <div class="text-bold">Admin</div>
      <%= link_to "Boat Classes", admin_boat_classes_path %>
      <%= link_to "Recordings", admin_recordings_path %>
      <%= link_to "Users", users_path %>
    <% end %>
  </section>

  <%= form_with url: session_path, method: :delete, data: { controller: "sessions" } do %>
    <button class="btn">Log out</button>
  <% end %>
</div>
