<% content_for :app_page_header do %>
  <div class="flex-item-justify-start"><%= link_back %></div>
<% end %>

<div class="position-fixed" data-controller="recordings--replay"
       data-recordings--replay-recording-id-value="<%= @recording.id %>"
       data-recordings--replay-recording-started-at-value="<%= @recording.started_at.to_i * 1000 %>"
       data-recordings--replay-recording-start-latitude-value="<%= @recording.start_latitude %>"
       data-recordings--replay-recording-start-longitude-value="<%= @recording.start_longitude %>"
       style="inset: 0">
  <div id="replay-map-container">
    <div id="replay-map" data-recordings--replay-target="map"></div>
  </div>

  <!-- Time Display -->
  <div id="time-display" class="fill border-radius padding-inline-double padding-block-half shadow text-small text-semibold text-tight-lines" data-recordings--replay-target="timeDisplay">
    00:00:00
  </div>

  <!-- Slider for scrubbing through the recorded locations -->
  <div class="slider-wrapper">
    <div class="container">
      <div class="padding-inline-double fill border-radius shadow">
        <input type="range" data-action="input->recordings--replay#sliderValueChanged"
               data-recordings--replay-target="slider" min="<%= @recording.started_at.to_i * 1000 %>" max="<%= @recording.ended_at.to_i * 1000 %>" value="<%= @recording.started_at.to_i * 1000 %>" step="5000"
               class="slider" id="replay-slider">
      </div>
    </div>
  </div>
</div>

<!-- The following style block is just an example. Adapt and move to your asset pipeline or CSS files as needed. -->
<style>
  .race-replay-container {
    position: fixed;
    inset: 0;
  }

  #replay-map-container {
    height: 100%;
  }

  #replay-map {
    height: 100%;
  }

  #time-display {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .slider-wrapper {
    position: fixed;
    bottom: 1rem;
    width: 100%;
    z-index: 401;
  }

  .slider {
    display: block;
    width: 100%;
  }

  .navigation-links {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
  }

  .boat-marker {
    min-width: fit-content;
    min-height: fit-content;
    line-height: normal;
    border: 1px solid #fff;
    padding: 2px 6px;
    font-weight: 700;
    border-radius: 15px;
  }

  .btn {
    margin: 0 10px;
  }
</style>



