<%= form_with(model: [:admin, user], class: "center fit-content margin-block") do |form| %>
  <fieldset class="flex flex-column gap <%= "shake" if flash[:alert] %>">

    <div class="input-group">
      <div class="input-wrapper">
        <%= form.label :first_name %>
        <div class="input">
          <%= form.text_field :first_name, autofocus: true, required: true, autocomplete: "given-name" %>
        </div>
      </div>
      <div class="input-wrapper">
        <%= form.label :last_name %>
        <div class="input">
          <%= form.text_field :last_name, required: true, autocomplete: "family-name" %>
        </div>
      </div>
    </div>

    <div class="input-group">
      <div class="input-wrapper">
        <%= form.label :username %>
        <div class="input">
          <%= form.text_field :username, required: true, autocomplete: :off %>
        </div>
      </div>
    </div>

    <div class="input-group">
      <div class="input-wrapper">
        <%= form.label :email_address %>
        <div class="input">
          <%= form.email_field :email_address, required: true, autocomplete: :email %>
        </div>
      </div>
    </div>

    <%= form.button class: "btn btn--reversed center txt-large", type: :submit do %>
      <span class="for-screen-reader">Update</span>
    <% end %>
  </fieldset>
<% end %>
