<div id="<%= dom_id user %>">
  <p class="margin-block-end-half"><%= user.first_name %> <%= user.last_name %></p>
  <p class="text-small text-muted"><%= user.username %></p>
  <p class="text-small text-muted"><%= user.email_address %></p>
</div>

