<div id="<%= dom_id boat %>">
  <p>
    <strong>Name:</strong>
    <%= boat.name %>
  </p>

  <p>
    <strong>Registration country:</strong>
    <%= boat.registration_country %>
  </p>

  <p>
    <strong>Sail number:</strong>
    <%= boat.sail_number %>
  </p>

  <p>
    <strong>Hull color:</strong>
    <%= boat.hull_color %>
  </p>

  <p>
    <strong>Boat class:</strong>
    <%= boat.boat_class_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= boat.user_id %>
  </p>

</div>
