<% @page_title = "Recording" %>

<div class="min-h-full flex justify-normal items-stretch">
  <div class="basis-100 flex-initial p-10 pr-0">
    <div class="flex flex-nowrap items-center justify-between mb-4">
      <h1 class="text-2xl/8 font-semibold">Recording</h1>
      <% if @recording.race_id.present? %>
        <%= link_to race_replay_path(@recording.race) do %>
          <span class="inline-flex items-center gap-x-1.5 rounded-md bg-primary/10 px-2 py-1 text-xs font-medium text-primary ring-1 ring-inset ring-primary/20">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3">
              <path fill-rule="evenodd" d="M3 2.25a.75.75 0 0 1 .75.75v.54l1.838-.46a9.75 9.75 0 0 1 6.725.738l.108.054A8.25 8.25 0 0 0 18 4.524l3.11-.732a.75.75 0 0 1 .917.81 47.784 47.784 0 0 0 .005 10.337.75.75 0 0 1-.574.812l-3.114.733a9.75 9.75 0 0 1-6.594-.77l-.108-.054a8.25 8.25 0 0 0-5.69-.625l-2.202.55V21a.75.75 0 0 1-1.5 0V3A.75.75 0 0 1 3 2.25Z" clip-rule="evenodd" />
            </svg>
            <span>Race</span>
          </span>
        <% end %>
      <% end %>
    </div>

    <div id="<%= dom_id @recording %>">
      <p class="text-small text-muted margin-block-end-half"><%= @recording.created_at.in_time_zone(@recording.time_zone).strftime("%A, %b %d, %Y at %l:%M%p") %></p>
      <div class="overflow-hidden rounded-md bg-gray-50 dark:bg-zinc-800 my-4 ring-1 ring-gray-300 dark:ring-zinc-700">
        <div class="p-4 flex justify-start gap-2 flex-nowrap items-center">
          <svg class="size-2 fill-<%= @recording.boat.hull_color.downcase %>-500" viewBox="0 0 6 6" aria-hidden="true">
            <circle cx="3" cy="3" r="3" />
          </svg>
          <p class="margin-block-end"><%= @recording.boat.name %> (<%= @recording.boat.registration_country %> <%= @recording.boat.sail_number %>)</p>
        </div>
      </div>

      <dl class="overflow-hidden rounded-md border border-gray-300 dark:border-zinc-700 my-4">
        <ul role="list" class="divide-y divide-gray-300 dark:divide-zinc-700">
          <li class="p-4">
            <div class="flex items-top justify-between flex-nowrap">
              <dt>Distance</dt>
              <dd>
                <span class="font-semibold tracking-tight"><%= number_with_precision(@recording.distance, precision: 2) %></span>
                <span>nm</span>
              </dd>
            </div>
          </li>
          <li class="p-4">
            <div class="flex items-top justify-between flex-nowrap">
              <dt>Time</dt>
              <dd>
                <span class="font-semibold tracking-tight"><%= @recording.duration %></span>
              </dd>
            </div>
          </li>
          <li class="p-4">
            <div class="flex items-top justify-between flex-nowrap">
              <dt>Average speed</dt>
              <dd>
                <span class="font-semibold tracking-tight"><%= @recording.average_speed %></span>
                <span>knots</span>
              </dd>
            </div>
          </li>
          <li class="p-4">
            <div class="flex items-top justify-between flex-nowrap">
              <dt>Wind speed</dt>
              <dd>
                <span class="font-semibold tracking-tight"><%= @recording.wind_speed %></span>
                <span>knots</span>
              </dd>
            </div>
          </li>
          <li class="p-4">
            <div class="flex items-top justify-between flex-nowrap">
              <dt>Wind direction</dt>
              <dd>
                <span class="font-semibold tracking-tight"><%= @recording.wind_direction_cardinal %></span>
                <span>(<%= @recording.wind_direction_degrees %>°)</span>
              </dd>
            </div>
          </li>
        </ul>
      </dl>
      <%= link_to my_recording_speed_map_path(@recording), class: "inline-flex items-center justify-center gap-x-2 rounded-md px-3 py-2 font-medium text-gray-900 dark:text-white shadow-sm ring-1 dark:ring-0 ring-inset ring-gray-300 hover:bg-gray-50 dark:hover:bg-white/20 w-full dark:bg-white/10" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 text-green-500 rounded-full bg-green-100 p-0.75">
          <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z" clip-rule="evenodd" />
        </svg>
        <span>View speed map</span>
      <% end %>
      <%= link_to "View race replay", race_replay_path(@recording.race), class: "rounded-md bg-slate-900 dark:bg-white/90 px-3 py-2 font-medium text-white dark:text-zinc-900 shadow-sm hover:bg-slate-800 dark:hover:bg-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-800 w-full block text-center mt-4" if @recording.race_id.present? %>
      <div>
        <%# link_to "Delete", @recording, class: "btn", data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this recording?' } %>
      </div>
    </div>
  </div>
  <div class="flex-auto p-10">
    <div data-controller="recordings--static-map"
     data-recordings--static-map-recording-id-value="<%= @recording.id %>"
     id="static-map"
     class="h-full rounded lg:rounded-md ring-1 ring-zinc-200 dark:ring-zinc-700"></div>
  </div>
</div>
