<!DOCTYPE html>
<html>
  <head itemscope itemtype="http://schema.org/WebSite">
    <%= page_title_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="SailTrace">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <meta itemprop="name" content="SailTrace">

    <%= yield :meta_tags %>

    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="overscroll-y-none">
    <% if notice = flash[:notice] || flash[:alert] %>
      <div class="flash" data-controller="element-removal" data-action="animationend->element-removal#remove">
        <div class="flash-inner border-radius">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <div class="relative isolate flex flex-col min-h-svh w-full bg-gray-100 dark:bg-zinc-950">
      <div class="fixed inset-x-0 top-0 h-16 flex justify-between items-center gap-4 px-6">
        <div class="flex flex-1 items-center">
          <%= image_tag "logos/logo-transparent.svg", role: "presentation", alt: "SailTrace", class: "h-6 w-auto" %>
        </div>
        <% if signed_in? %>
        <nav class="hidden md:flex md:gap-x-4 font-medium md:text-gray-700">
          <%= link_to "Recordings", my_recordings_path, class: "rounded-md py-2 px-3 text-zinc-950 hover:bg-zinc-200 dark:text-white/50 dark:hover:text-white dark:hover:bg-gray-900" %>
          <%= link_to "Boats", my_boats_path, class: "rounded-md py-2 px-3 text-zinc-950 hover:bg-zinc-200 dark:text-white/50 dark:hover:text-white dark:hover:bg-gray-900" %>
        </nav>
        <% end %>
        <div class="flex flex-1 items-center justify-end gap-x-8">
          <% if signed_in? %>
            <button type="button" class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500">
              <span class="sr-only">View notifications</span>
              <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
              </svg>
            </button>
            <%= link_to more_path, class: "rounded-full p-2 text-sm font-semibold text-zinc-950 hover:bg-zinc-800 dark:text-white/50 dark:hover:text-white" do %>
              <span>AK</span>
            <% end %>
          <% else %>
            <%= link_to "Log in", new_session_path, class: "btn" %>
          <% end %>
        </div>
      </div>
      <main class="fixed inset-x-0 bottom-0 top-14 flex flex-1 flex-col lg:min-w-0 py-2 sm:px-2 sm:pb-2 text-zinc-950 dark:text-white">
        <div class="grow rounded-lg bg-white shadow lg:shadow-sm ring-1 ring-gray-900/5 dark:bg-zinc-900 dark:ring-gray-500/20 overflow-y-auto scroll-smooth">
          <%= yield %>
        </div>
      </main>
    </div>

    <%= render 'shared/app_page_header' if signed_in? %>

  </body>
</html>
