<!DOCTYPE html>
<html>
  <head>
    <%= page_title_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice = flash[:notice] || flash[:alert] %>
      <div class="flash" data-controller="element-removal" data-action="animationend->element-removal#remove">
        <div class="flash-inner">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <%= render 'shared/app_navigation' if signed_in? %>
    <%= render 'shared/app_page_header' if signed_in? %>

    <main id="main">
      <%= yield %>
    </main>

  </body>
</html>
