<%= sailtrace_form_for [:my, boat] do |f| %>
  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.input :name,
                as: :text,
                label: "Name",
                hint: "The boat's name",
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Enter the boat's name", autocomplete: :off, autocorrect: :off, required: true, spellcheck: false, autocapitalize: :words } %>
  </div>
  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">
    <%= f.input :boat_class_id,
                as: :select,
                label: "Class",
                collection: BoatClass.order(:name).pluck(:name, :id),
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Select the boat's class", autocomplete: :off, required: true } %>

    <%= f.input :hull_color,
                as: :select,
                label: "Hull color",
                collection: ["Red", "White", "Green", "Black", "Blue"].sort,
                wrapper_class: "sm:col-span-3",
                input_html: { placeholder: "Select the boat's hull color", autocomplete: :off, required: true } %>
  </div>
  <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-6">

    <%= f.input :registration_country,
                as: :select,
                label: "Country",
                hint: "Where the boat is registered",
                collection: ISO3166::Country.pluck(:iso_short_name, :alpha2).sort_by { |data| data.first },
                priority_options: [["United States of America","US"], ["Canada","CA"]],
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Select the country where this boat is registered", autocomplete: :off, required: true } %>

    <%= f.input :sail_number,
                as: :number,
                label: "Sail number",
                wrapper_class: "sm:col-span-3",
                input_html: { title: "Enter the sail number", autocomplete: :off, min: 0, required: true } %>
  </div>

  <%= f.submit "Save",
               class: "mt-4 w-full inline-flex justify-center rounded-md bg-gray-900 dark:bg-white px-4 py-3 text-white dark:text-gray-950 hover:bg-gray-800 dark:hover:bg-white/95 cursor-pointer" %>

<% end %>
